{% extends "base.html" %}{% load filters %}
{% load i18n %}
{% load compress %}
{% block title %}{% trans 'Paste something' %}{% endblock %}
{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form method="post" action="{% url 'index' %}">
    {{ form.non_field_errors }}
    <div class="form-group">
      {% if PASTE.show_char_left %}
      <span id="charsleft"><b id="charsleft_counter">...</b>&nbsp;{% trans 'characters left' %}</span>
      {% endif %}
      <label for="id_content">{% trans 'Content' %}</label>
      {{ form.content|add_class:"form-control"}}
      {{ form.content.errors }}
    </div>

    {% if PASTE.has_title %}
    <div class="form-group">
      <label for="id_title"><span class="add-on"><i class="icon-tag"></i></span> {% trans 'Title' %}</label>
      {{ form.title|add_class:"form-control" }}
      {{ form.title.errors }}
    </div>
    {% endif %}

    <div class="form-group">
      <label for="id_language"><span class="add-on"><i class="icon-file-alt"></i></span> {% trans 'Language' %}</label>
      {{ form.language|add_class:"form-control" }}
      {{ form.language.errors }}
    </div>

    <div class="form-group">
      <label for="id_lifetime"><span class="add-on"><i class="icon-time"></i></span> {% trans 'Expire time' %}</label>
      {{ form.lifetime|add_class:"form-control" }}
      {{ form.lifetime.errors }}
    </div>

    {% if PASTE.has_expire_by_views %}
    <div class="form-group">
      <label for="id_lifecount"><span class="add-on"><i class="icon-refresh"></i></span> {% trans 'Expire allowed views' %}</label>
      {{ form.lifecount|add_class:"form-control" }}
      {{ form.lifecount.errors }}
    </div>
    {% endif %}

    <div class="form-group">
      <label for="id_password"><span class="add-on"><i class="icon-lock"></i></span> {% trans 'Password protected' %}</label>
      {{ form.password|add_class:"form-control" }}
      {{ form.password.errors }}
    </div>

    <div class="form-check">
      {{ form.private|add_class:"form-check-input" }}
      <label class="form-check-label" for="id_private">{% trans 'Private' %}</label>
      {{ form.private.errors }}
    </div>

    {% csrf_token %}
    <button class="btn btn-primary" type="submit">{% trans 'Paste' %}</button>
    <input type="hidden" id="max_characters" value="{{ max_characters }}">
  </form>
  <div class="d-flex p-2 bd-highlight">
    <div class="alert alert-info" role="alert">You can also use:
      <pre>curl {{ absolute_index_url }} -Fpython=@hello.py</pre>
      (attribute name is used for syntax highlighting, and shortcuts like "py" are allowed, see Language dropdown for language list.)
      <br /><br />
      You may even use a bash function:
      <pre>wyz()
{
    curl {{ absolute_index_url }} -Fpython=@$1
}</pre>
    </div>
  </div>
{% endblock %}
{% block javascript %}
{% if PASTE.show_char_left %}
<script type="text/javascript" src="/static/js/paste.js"></script>
{% endif %}
{% endblock %}
