{% extends "base.html" %}{% load filters %}
{% load i18n %}
{% load compress %}
{% block title %}{% trans 'Paste something' %}{% endblock %}
{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form method="post" action="{% url 'index' %}">
    {{ form.non_field_errors }}
    <div class="form-group">
      {% if PASTE.show_char_left %}
      <span id="charsleft"><b id="charsleft_counter">...</b>&nbsp;{% trans 'characters left' %}</span>
      {% endif %}
      <label for="id_content">{% trans 'Content' %}</label>
      {{ form.content|add_class:"form-control"}}
      {{ form.content.errors }}
    </div>

    <div class="form-row">
      {% if PASTE.has_title %}
      <div class="col-auto">
        <label class="sr-only" for="id_title"><span class="add-on"><i class="icon-tag"></i></span> {% trans 'Title' %}</label>
        {{ form.title|add_class:"form-control" }}
        {{ form.title.errors }}
      </div>
      {% endif %}

      <div class="col-auto">
        <label class="sr-only" for="id_language">{% trans 'Language' %}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><span class="add-on"><i class="icon-file-alt"></i></span></div>
          </div>
          {{ form.language|add_class:"form-control" }}
        </div>
        {{ form.language.errors }}
      </div>

      <div class="col-auto">
        <label class="sr-only" for="id_lifetime">{% trans 'Expire time' %}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><span class="add-on"><i class="icon-time"></i></span></div>
          </div>
          {{ form.lifetime|add_class:"form-control" }}
        </div>
        {{ form.lifetime.errors }}
      </div>

      {% if PASTE.has_expire_by_views %}
      <div class="col-auto">
        <label class="sr-only" for="id_lifecount">{% trans 'Expire allowed views' %}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><span class="add-on"><i class="icon-refresh"></i></span></div>
          </div>
          {{ form.lifecount|add_class:"form-control" }}
        </div>
        {{ form.lifecount.errors }}
      </div>
      {% endif %}

      <div class="col-auto">
        <label class="sr-only" for="id_password">{% trans 'Password protected' %}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><span class="add-on"><i class="icon-lock"></i></span></div>
          </div>
          {{ form.password|add_class:"form-control"|placeholder:'Password protected'}}
        </div>
        {{ form.password.errors }}
      </div>

      <div class="form-check">
        {{ form.private|add_class:"form-check-input" }}
        <label class="form-check-label" for="id_private">{% trans 'Private' %}</label>
        {{ form.private.errors }}
      </div>

      <div class="col-auto">
        <button class="btn btn-primary btn-lg" type="submit">{% trans 'Paste' %}</button>
      </div>

    </div>

    {% csrf_token %}
    <input type="hidden" id="max_characters" value="{{ max_characters }}">
  </form>
  <div class="d-flex p-2 bd-highlight">
    <div class="alert alert-info" role="alert">You can also use:
      <pre>curl {{ absolute_index_url }} -Fpython=@hello.py</pre>
      (attribute name is used for syntax highlighting, and shortcuts like "py" are allowed, see Language dropdown for language list.)
      <br /><br />
      You may even use a bash function:
      <pre>wyz()
{
    curl https://wyz.fr/ -F"${1##*.}=@$1"
}</pre>
      Like this:
      <pre>wyz FILE_TO_UPLOAD</pre>
    </div>
  </div>
{% endblock %}
{% block javascript %}
{% if PASTE.show_char_left %}
<script type="text/javascript" src="/static/js/paste.js"></script>
{% endif %}
{% endblock %}
